<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/header')%>
</head>
<body style="text-align: center;">
    <%- include('./templates/basic_navbar')%>
    
    <div class="row justify-content-center">
        <h1>Viajes</h1>
        
        <div class="col-auto">

          <div style="margin-top: 5%">
            <div class="card-body">
              <%if(travels.length){%>
                  <table id="travels_table" class="table table-responsive">
                      <thead>
                          <th>Placa</th>
                          <th>Dueño</th>
                          <th>Oriegen</th>
                          <th>Destino</th>
                          <th>Fecha</th>
                          <th>Valor</th>
                          <th>Gastos</th>
                          <th>Ganancias</th>
                      </thead>
                      <tbody style="cursor: pointer;">
                          <% travels.forEach(fullTravel => { %>
                              <tr class="clickable" data-bs-toggle="modal" data-bs-target="#details">
                                  <td><%= fullTravel.vehicle.plate %></td>
                                  <td><%= fullTravel.ownerName %></td>
                                  <td><%= fullTravel.travel.origin %></td>
                                  <td><%= fullTravel.travel.destiny %></td>
                                  <td><%= fullTravel.travel.date %></td>
                                  <td>$<%= fullTravel.travel.value %></td>
                                  <td>$<%= fullTravel.travel.expenses %></td>
                                  <td>$<%= fullTravel.travel.details.driver %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.gas %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.toll %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.maintenance %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.load %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.unload %></td>
                                  <td style="display: none;">$<%= fullTravel.travel.details.driver %></td>
                              </tr>
                          <%})%>
                      </tbody>
                  </table>
              <%}else{%>
                  <h5>No hay Registros</h5>
              <%}%>
          </div>

        </div>

    </div>

    <!-- Travel Modal -->
    <div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"  style="border-radius: 25px;">
          <div class="modal-header">
            <h5 class="modal-title"" style="text-align: left;" id="details_title"><strong>Detalle</strong></h5>
          </div>
          <div class="modal-body" style="text-align: left;">
            <h6 id="value"></h6>
            <h6 id="gain"></h6>
            <h6 style="text-align: center;"><strong>Gastos</strong></h6>
            <table class="table table-responsive" style="text-align: center;">
              <thead>
                  <th>Motivo</th>
                  <th>Valor</th>
              </thead>
              <tbody id="details_body"></tbody>
          </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="navbar-custom" style="color: white;text-align: center;border-radius: 25px;" data-bs-dismiss="modal" aria-label="Close">Volver</button>
          </div>
        </div>
      </div>
    </div>

    <!-- New Travel Modal -->
    <div class="modal fade" id="new_travel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"  style="border-radius: 25px;">
          <div class="modal-header">
            <h5 class="modal-title"" style="text-align: left;" id="details_title"><strong>Nuevo viaje</strong></h5>
          </div>
          <div class="modal-body" style="text-align: left;">
            
            <form class="row g-2 needs-validation" id="truck-form" style="text-align: left;" method="POST" action="/add_truck" onsubmit="return validateTravelForm()" novalidate>
              <div>
                <label for="origin" class="form-label">Origen</label>
                <input type="text" class="form-control" name="origin" id="origin" required>
                <div class="invalid-feedback">
                  Ingresa el origen
                </div>
              </div>
              <div>
                <label for="destiny" class="form-label">Destino</label>
                <input type="text" class="form-control" name="destiny" id="destiny" required>
                <div class="invalid-feedback">
                  Ingresa el destino
                </div>
              </div>
              <div>
                <label for="date" class="form-label">Fecha</label>
                <input type="date" class="form-control" name="date" id="date" required>
                <div class="invalid-feedback">
                  Ingresa la fecha
                </div>
              </div>
              <div>
                <label for="value" class="form-label">Valor del viaje</label>
                <input type="text" class="form-control" name="value" id="value" required>
                <div class="invalid-feedback">
                  Ingresa el valor del viaje
                </div>
              </div>
              <h6 style="text-align: left;"><strong>Gastos</strong></h6>
              <div>
                <label for="gas" class="form-label">ACPM</label>
                <input type="number" class="form-control" name="gas" id="gas" required>
                <div class="invalid-feedback">
                  Ingresa el gasto en ACPM
                </div>
              </div>
              <div>
                <label for="toll" class="form-label">Peaje</label>
                <input type="number" class="form-control" name="toll" id="toll" required>
                <div class="invalid-feedback">
                  Ingresa el gasto en peajes
                </div>
              </div>
              <div>
                <label for="maintenance" class="form-label">Mantenimiento</label>
                <input type="number" class="form-control" name="maintenance" id="maintenance" required>
                <div class="invalid-feedback">
                  Ingresa el gasto en mantenimiento
                </div>
              </div>
              <div>
                <label for="load" class="form-label">Cargue</label>
                <input type="number" class="form-control" name="load" id="load" required>
                <div class="invalid-feedback">
                  Ingresa el gasto en cargue
                </div>
              </div>
              <div>
                <label for="unload" class="form-label">Descargue</label>
                <input type="number" class="form-control" name="unload" id="unload" required>
                <div class="invalid-feedback">
                  Ingresa el gasto en descargue
                </div>
              </div>
              <div class="col-12" style="text-align: center;">
                <button class="btn btn-primary navbar-custom" style="border-radius: 25px;" type="submit">Agregar</button>
              </div>
            </form>
            
            <div class="col-12" style="text-align: center;">
              <button class="btn btn-primary navbar-custom" style="border-radius: 25px;" type="submit">Agregar</button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- FAB -->

    <div class="mainopShadow"></div>
      <div class="fab"> 
        <div id="docs" class="minifab op1" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#new_travel">
          <svg class="minifabIcon" viewBox="0 0 24 24">
            <path fill="white" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
        </div>
      </div>

    <%- include('./templates/footer')%>
</body>
</html>