<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/header')%>
</head>
<body style="text-align: center;">
    <%- include('./templates/full_navbar')%>
    
    <div class="row justify-content-center">
        <h1>Conductores</h1>
        
        <div class="col-auto">

          <div style="margin-top: 5%">
            <div class="card-body">
              <%if(drivers.length){%>
                  <table id="travels_table" class="table table-responsive">
                      <thead>
                          <th>Nombre</th>
                          <th>Porcentaje conductor</th>
                      </thead>
                      <tbody style="cursor: pointer;">
                          <% drivers.forEach(driver => { %>
                              <tr class="clickable" data-bs-toggle="modal" data-bs-target="#details">
                                  <td><%= driver.driverName %></td>
                                  <td><%= driver.driverPercentage %>%</td>
                                  <td>
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                      <path fill="black" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                    </svg>
                                  </td>
                              </tr>
                          <%})%>
                      </tbody>
                  </table>
              <%}else{%>
                  <h5>No hay Registros</h5>
              <%}%>
          </div>

        </div>

    </div>

    <!-- Add driver Modal -->
    <div class="modal fade" id="driver-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"  style="border-radius: 25px;">
          <div class="modal-header">
            <h5 class="modal-title"" style="text-align: left;" id="details_title"><strong>Nuevo conductor</strong></h5>
          </div>
          <div class="modal-body" style="text-align: left;">
          <!-- Placa Mrca Modelo Conductor-->
            <form class="row g-2 needs-validation" style="text-align: left;" method="POST" action="/add_truck" novalidate>
              <div>
                <label for="dirverName" class="form-label">Placa</label>
                <input type="text" class="form-control" name="driverName" id="driverName" required>
                <div class="invalid-feedback">
                  Ingresa nombre
                </div>
              </div>
              <div>
                <label for="percentage" class="form-label">Marca</label>
                <input type="text" class="form-control" name="percentage" id="percentage" required>
                <div class="invalid-feedback">
                  Ingresa porcentage
                </div>
              </div>
              <div class="col-12" style="text-align: center;">
                <button class="btn btn-primary navbar-custom" style="border-radius: 25px;" type="submit">Agregar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- FAB -->

    <div class="mainopShadow"></div>
      <div class="fab"> 
        <div id="docs" class="minifab op1" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#driver-modal">
          <svg class="minifabIcon" viewBox="0 0 24 24">
            <path fill="white" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
        </div>
      </div>

    <%- include('./templates/footer')%>
</body>
</html>