<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/header')%>
</head>
<body style="text-align: center;">
    <%- include('./templates/full_navbar')%>
    
    <div class="row justify-content-center">
        <h1>Camiones</h1>
        <%if(isTruckWrong){%>
          <h6 style="color: red;">Los datos ingresados son incorrectos</h6>
        <%}%>
        <div class="col-auto">

          <div style="margin-top: 5%">
            <div class="card-body">
              <%if(trucks.length){%>
                  <table id="travels_table" class="table table-responsive">
                      <thead>
                          <th>Placa</th>
                          <th>Marca</th>
                          <th>Modelo</th>
                          <th>Conductor</th>
                          <th>Porcentaje conductor</th>
                      </thead>
                      <tbody style="cursor: pointer;">
                          <% trucks.forEach(truck => { %>
                              <tr class="clickable" data-bs-toggle="modal" data-bs-target="#details">
                                  <td><%= truck.vehicle.plate %></td>
                                  <td><%= truck.vehicle.brand %></td>
                                  <td><%= truck.vehicle.model %></td>
                                  <td><%= truck.driverName %></td>
                                  <td><%= truck.vehicle.driverPercentage %>%</td>
                                  <td>
                                    <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                                      <path fill="black" d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" />
                                    </svg>
                                  </td>
                              </tr>
                          <%})%>
                      </tbody>
                  </table>
              <%}else{%>
                  <h5>No hay Registros</h5>
              <%}%>
          </div>

        </div>

    </div>

    <!-- Add truck Modal -->
    <div class="modal fade" id="truck-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"  style="border-radius: 25px;">
          <div class="modal-header">
            <h5 class="modal-title"" style="text-align: left;" id="details_title"><strong>Nuevo vehículo</strong></h5>
          </div>
          <div class="modal-body" style="text-align: left;">
            
            <form class="row g-2 needs-validation" id="truck-form" style="text-align: left;" method="POST" action="/add_truck" onsubmit="return validateTruckForm()" novalidate>
              <div>
                <label for="plate" class="form-label">Placa</label>
                <input type="text" class="form-control" name="plate" id="plate" maxlength="7" placeholder="XXX-000" required>
                <div class="invalid-feedback">
                  Ingresa una placa
                </div>
              </div>
              <div>
                <label for="brand" class="form-label">Marca</label>
                <input type="text" class="form-control" name="brand" id="brand" required>
                <div class="invalid-feedback">
                  Ingresa la marca
                </div>
              </div>
              <div>
                <label for="model" class="form-label">Modelo</label>
                <input type="number" class="form-control" name="model" id="model" placeholder="2015" maxlength="4" required>
                <div class="invalid-feedback">
                  Ingresa el modelo
                </div>
              </div>
              <div>
                <label for="driver" class="form-label">Conductor</label>
                <input type="text" class="form-control" name="driver" id="driver" required>
                <div class="invalid-feedback">
                  Ingresa el conductor
                </div>
              </div>
              <div>
                <label for="percentage" class="form-label">Porcentage</label>
                <input type="number" class="form-control" name="percentage" id="percentage" placeholder="10" maxlength="2" required>
                <div class="invalid-feedback">
                  Ingresa el porcentage
                </div>
              </div>
              <div class="col-12" style="text-align: center;">
                <button class="btn btn-primary navbar-custom" style="border-radius: 25px;" type="submit">Agregar</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- FAB -->

    <div class="mainopShadow"></div>
      <div class="fab"> 
        <div id="docs" class="minifab op1" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#truck-modal">
          <svg class="minifabIcon" viewBox="0 0 24 24">
            <path fill="white" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
          </svg>
        </div>
      </div>

    <%- include('./templates/footer')%>
</body>
</html>